conda create -n AD-RD python=3.8  # python3.8
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121   # pytorch for cuda12.1
conda install matplotlib
conda install scikit-learn
pip install opencv-python # pip
conda install scipy
conda install pillow
conda install scikit-image
conda install pandas